<!-- INCLUDE overall_header.html -->

<!-- MOD : AMEISEZ BB3 MediaPlayer (v0.0.1) - START //-->
<div class="panel">
   <div class="inner"><span class="corners-top"><span></span></span>

   <div class="copyright">
		<p>
		<script type="text/javascript">
		</script>
		<!-- PLAYER EMBEDDING - START //-->
		<script type="text/javascript" src="swfobject.js"></script>
		<p id="player"><a href="http://www.macromedia.com/go/getflashplayer">Get the Flash Player</a> to see this player.</p>
				<script type="text/javascript">
					var s0 = new SWFObject('player.swf','mpl','900','320','9');
					s0.addParam('allowscriptaccess','always');
					s0.addParam('allowfullscreen','true');
					s0.addVariable('height','3250');
					s0.addVariable('width','900');
					s0.addVariable('file','pl_all.php');
					s0.addVariable('frontcolor','0x1A1A1A');
					s0.addVariable('lightcolor','0x4682B4');
					s0.addVariable('screencolor','0x4682B4');
					s0.addVariable('displaywidth','500');
					s0.addVariable('displayheight','300');
					s0.addVariable('searchbar','true');
					s0.addVariable('playlist','left');
					s0.addVariable('overstretch','fit');
					s0.addVariable('showicons','false');
					s0.addVariable('showeq','true');
					s0.addVariable('showstop','true');
					s0.addVariable('autoscroll','false');
					s0.addVariable('repeat','list');
					s0.addVariable('image','http://www.littlegraffyx.com/ameisez/mplayer/bb3player_logo.png');
					s0.addVariable('thumbsinplaylist','false');
					s0.write('player');
				</script>
		<!-- PLAYER EMBEDDING - END //-->
<!-- MOD : AMEISEZ BB3 MediaPlayer (v0.0.1) - END //-->

		</p>
   </div>
   <span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->