<!-- INCLUDE overall_header.html -->

<!-- MOD : AMEISEZ BB3 MediaPlayer (v0.0.1) - START //-->
<h2>{L_BB3_PLAYER_NAME}</h2>
<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div class="inner" style="text-align: center;">
			<p>PLAYER UNDER MAINTENANCE</p>
			<br />
			<!-- PLAYER EMBEDDING - START //-->
			<div id="player"><a href="http://www.macromedia.com/go/getflashplayer">{L_BB3_GET_FLASH}</a> {L_BB3_SEE_FLASH}</div>
			<script type="text/javascript" src="{BB3_FOLDER_PATH}swfobject.js"></script>
			<script type="text/javascript">
				// <![CDATA[
				//	If your file flashvar is at the location getplaylist.php?id=123&type=flv, you must set the file flashvar to getplaylist.php%3Fid%3D123%26type%3Dflv. 
					var playlist = '{BB3_FOLDER_PATH}playlist.php?path={BB3_UPLOAD_PATH}&image={BB3_FOLDER_PATH}bb3player_logo.png';
						playlist = playlist.replace(/\//gi,'%2F');
						playlist = playlist.replace(/\?/gi,'%3F');
						playlist = playlist.replace(/\=/gi,'%3D');

					var so = new SWFObject('{BB3_FOLDER_PATH}player.swf','mpl','900','320','9');
					so.addParam('allowscriptaccess','always');
					so.addParam('allowfullscreen','true');
					so.addParam('wmode','opaque');
					so.addVariable('height','3250');
					so.addVariable('width','900');
					so.addVariable('file',playlist);
					so.addVariable('frontcolor','0x1A1A1A');
					so.addVariable('lightcolor','0x4682B4');
					so.addVariable('screencolor','0x4682B4');
					so.addVariable('displaywidth','500');
					so.addVariable('displayheight','300');
					so.addVariable('searchbar','true');
					so.addVariable('playlist','left');
					so.addVariable('overstretch','fit');
					so.addVariable('showicons','false');
					so.addVariable('showicons','true');
					so.addVariable('shownavigation','true');
					so.addVariable('showdigits','true');
					so.addVariable('showdownload','true');
					so.addVariable('showeq','true');
					so.addVariable('showstop','true');
					so.addVariable('autoscroll','false');
					so.addVariable('repeat','list');
					so.addVariable('thumbsinplaylist','false');
					so.addVariable('volume','80');
					so.addVariable('image','{BB3_FOLDER_PATH}bb3player_logo.png');
					so.write('player');
				// ]]>
			</script>
			<!-- PLAYER EMBEDDING - END //-->
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- MOD : AMEISEZ BB3 MediaPlayer (v0.0.1) - END //-->

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->